* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: auto;
  display: flex;
}
.main-icon {
  width: 20%;
  text-align: center;
}
.cart {
  width: 20%;
}
.main-icon p {
  display: inline-block;
  padding: 10px;
  margin: 10px auto;
  color: white;
  box-shadow: black 1px 2px 3px;
  color: rgb(255, 121, 32);
}
.nav-bar {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.cart img {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px auto;
  position: relative;
  transition: 1s;
}
.cart img:hover {
  transform: scale(1.8);
}
.nav-bar ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-bar ul li a:hover {
  color: rgb(255, 121, 32);
}

.text {
  margin: 100px;
}
.text p {
  text-align: center;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: rgb(255, 121, 32);
  font-weight: lighter;
  letter-spacing: 8px;
}
.text h1 {
  text-align: center;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
}

/******************************************/

.mb-150 {
    margin-bottom: 50px;
}

.mt-150 {
    margin-top: 50px;

}

.main-content {
  width: 100%;
  padding: 70px;
  margin: auto;
}

.row {
    
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 50px;
}

.product-image img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.product-image img:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product-image img {
  width: 60%;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-image img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
body img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}

p.product-price {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.single-product-item {
  -webkit-box-shadow: 0 0 20px #e4e4e4;
  box-shadow: 0 0 20px #e4e4e4;
  padding-bottom: 50px;
  border-radius: 5px;
}

.single-product-item {
  margin-bottom: 30px;
}
.single-product-item {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single-product-item:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button.cart-btn {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  background-color: #f28123;
  color: #fff;
  padding: 10px 20px;
}

button.cart-btn {
  border-radius: 50px;
}

button.cart-btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

button.cart-btn:hover {
  background-color: #051922;
  color: #f28123;
}
.a-price-symbol {
  top: -0.75em;
  font-size: 13px;
}

.a-price[data-a-size$="l"] .a-price-symbol {
  position: relative;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title h3 {
  font-size: 40px;
  position: relative;
}
.orange-text {
  color: #F28123;
} 
.section-title h3:after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #F28123;
  margin: 0 auto;
}

 
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100vw;
  height: auto;
  display: flex;
}

.row {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
table.cart-table {
border: 1px solid #f9f9f9;
width: 100%;
}

thead {
border-bottom: 1px solid #eee;
}

tr.table-head-row th {
border-right: 1px solid #efefef;
padding: 15px;
font-weight: 500;
text-align: center;
}

tr.table-head-row th:last-child {
border-right: none;
}

.cart-table-wrap tbody tr td {
text-align: center;
}

td.product-image img {
max-width: 50px;
-webkit-box-shadow: none;
box-shadow: none;
margin-bottom: 0;
}

.cart-table-wrap tbody tr td {
border: 1px solid #efefef;
padding: 30px;
color: #051922;
}

thead.cart-table-head tr {
background-color: #efefef;
}

td.product-quantity input {
margin-bottom: 0;
}

td.product-remove a {
color: #051922;
}

.total-section table.total-table {
border: 1px solid #efefef;
width: 100%;
}

tr.table-total-row {
background-color: #efefef;
}

tr.table-total-row th {
font-weight: 500;
font-size: 15px;
padding: 15px;
}

table.total-table tbody tr.total-data td {
border: 1px solid #efefef;
padding: 19px 15px;
}

tr.total-data td strong {
margin-right: 32px;
}

.cart-buttons {
margin-top: 30px;
}

.cart-buttons a:first-child {
margin-right: 20px;
}


.mb-150 {
margin-bottom: 30px;
}
.mt-150 {
margin-top: 30px;
}

a.boxed-btn, a.bordered-btn, a.cart-btn {
border-radius: 50px;

}
a.boxed-btn {
font-family: 'Poppins', sans-serif;
display: inline-block;
background-color: #F28123;
color: #fff;
padding: 10px 20px;

}

td.product-quantity input {
margin-bottom: 0;
}
input[type="number"] {
border: 1px solid #ddd;
border-radius: 5px;
padding: 15px;
width: 100px;
margin-bottom: 15px;
} 

input, optgroup, select, textarea {
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
}

input[type="number" i] {
padding: 1px 2px;
}